<a href="https://colab.research.google.com/github/Gauthamraj-S/AI-Blog-Creator/blob/main/Gen_AI_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Write a program  to Identify greatest of 3 numbers**

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
if num1>num2 and num1>num3:
  print(num1, "is greatest")
elif num2>num1 and num2>num3:
  print(num2, "is greatest")
else:
  print(num3, "is greatest")

Enter first number: 20
Enter second number: 10
Enter third number: 30
30 is greatest

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

maximum = max(num1, num2, num3)
print(maximum, "is greatest")

Enter first number: 20
Enter second number: 10
Enter third number: 40
40 is greatest

**write a program to find amstrong number**

In [ ]:
num = int(input("Enter a number: "))

def is_amstrong(num):
  sum = 0
  temp = num
  while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10
  if num == sum:
    return True
  else:
    return False


val=is_amstrong(num)

if (val):
  print(num, "is a amstrong number")
else:
  print(num, "is not a amstrong number")

Enter a number: 370
370 is a amstrong number

In [ ]:
str_val = input("Enter any Character: ")

for i in str_val:
  print(i)

Enter any Character: HELLO WORLD
H
E
L
L
O

W
O
R
L
D

In [ ]:
str_inp = input("Enter any string: ")

character = input("Enter a character of String: ")

pos = 0


for char in str_inp:
  pos+=1
  if char == character:
    print("Character " + char + " is in " + str(pos) + " position\n")
    continue
    if pos == len(str_inp):
      print("Character not found")

Enter any string: Hello World
Enter a character of String: l
Character l is in 3 position

Character l is in 4 position

Character l is in 10 position

In [ ]:
Str_ = input("Enter any string: ")

print(Str_[0], Str_[4])

Enter any string: Hello
H o

In [ ]:
str_= "hellow world"
print(str_[1:11:2])

elwwr

In [ ]:
# Write a program tp print highest number of the list

lst = []

i = int(input("Enter the range of elements in the list"))

for n in range(i):
  x = int(input("Enter the element: "))
  lst.append(x)
lst.sort()
if len(lst) == 0:
  print("List is empty")
else:
  print("Highest element in the list is " ,lst[-1])

Enter the range of elements in the list5
Enter the element: 10
Enter the element: 40
Enter the element: 20
Enter the element: 50
Enter the element: 5
Highest element in the list is  50

In [ ]:
str_ = input("Enter the String: ")
lst = []
lst = str_.split(" ")
print(lst[::-1])

Enter the String: Hello World
['World', 'Hello']

In [ ]:
str_ = input("Enter the String: ")
print(str_[::-1])

dlroW olleH

Inbuilt Functions in Python

In [ ]:
# Converts to lower Case
text = input("Enter the String: ")
print(text.lower())

Enter the String: Hello World
hello world

In [ ]:
# Convert into upper case
text = input("Enter the String: ")
print(text.upper())

Enter the String: Hello World
HELLO WORLD

In [ ]:
# Remove Specific Character
text = input("Enter the String: ")
print(text.strip("#"))

Enter the String: ###HELLO###
HELLO

In [ ]:
# Replace

text = input("Enter the String: ")
print(text.replace("Hello","hello"))

Enter the String: Hello World
hello World

In [ ]:
# List.append()

lst = []

i = int(input("Enter the range of elements in the list"))

for n in range(i):
  x = int(input("Enter the element: "))
  lst.append(x)
lst.sort()
if len(lst) == 0:
  print("List is empty")
else:
  print("Highest element in the list is " ,lst[-1])

lst.append(100)
print(lst)

Enter the range of elements in the list3
Enter the element: 10
Enter the element: 20
Enter the element: 30
Highest element in the list is  30
[10, 20, 30, 100]

In [ ]:
# Insert fuction inserts value in a specific index value of the list

# lst.insert(index_num, value)

lst=[]
lst.insert(0,"apple")
lst.insert(1,"banana")
lst.insert(2,"cherry")
print(lst)

lst.insert(1,"watermelon")
print(lst)

['apple', 'banana', 'cherry']
['apple', 'watermelon', 'banana', 'cherry']

In [ ]:
#pop() -> removes and returns specific index in a list (default: last item)

lst=[]
lst.insert(0,"apple")
lst.insert(1,"banana")
lst.insert(2,"cherry")
print(lst)

lst.insert(1,"watermelon")
print(lst)
print(lst.pop(1))
print(lst)
print(lst.pop())
print(lst)

['apple', 'banana', 'cherry']
['apple', 'watermelon', 'banana', 'cherry']
watermelon
['apple', 'banana', 'cherry']
cherry
['apple', 'banana']

In [ ]:
# lst.sort() -> sort the values in the list

lst = []

i = int(input("Enter the range of elements in the list"))

for n in range(i):
  x = int(input("Enter the element: "))
  lst.append(x)
lst.sort()
if len(lst) == 0:
  print("List is empty")
else:
  print("Highest element in the list is " ,lst[-1])

Enter the range of elements in the list3
Enter the element: 10
Enter the element: 12
Enter the element: 54
Highest element in the list is  54

In [ ]:
#remove - > removes the first occurance of a specific item

lst = ["apple", "banana", "cherry", "apple"]
lst.remove("apple")
print(lst)

['banana', 'cherry', 'apple']

In [ ]:
#remove - > removes the first occurance of a specific item

lst = ["apple", "banana", "cherry", "apple"]

for i in lst:
  if i == "apple":
    lst.remove("apple")
print(lst)

['banana', 'cherry']

In [ ]:
#reverse -> Reverses the list

lst = ["apple", "banana", "cherry"]
lst.reverse()
print(lst)

['cherry', 'banana', 'apple']

In [ ]:
# len
any = input("Enter Anythong")

print("Length of anything is :", len(any))

Enter Anythongjshfkjsjadk3
Length of anything is : 12

In [ ]:
# sum(iterables)

lst = [1,2,3,4,5]
print(sum(lst))

15

In [ ]:
# sorted(iterables)
lst = [3,2,5,4,1]
print(sorted(lst))

[1, 2, 3, 4, 5]

In [ ]:
# max(iterables)
lst = [3,2,5,4,1]
print(max(lst))

5

In [ ]:
# min(iterables)
lst = [3,2,5,4,1]
print(min(lst))

1

In [ ]:
lst = [3,2,5,4,1]
print(lst)
maximum = max(lst)
minimum = min(lst)

print("Maximum : " ,maximum)
print("Minimum : " ,minimum)

[3, 2, 5, 4, 1]
Maximum :  5
Minimum :  1

In [ ]:
# Write a program to count digits on the string
S = input("Enter a string with Numbers :")
count = 0

for i in S:
  if i.isdigit:
    count += 1
print("Number of digits in the string :", count)

Enter a string with Numbers :Hello12479842174
Number of digits in the string : 16

In [ ]:
# Write a program to count digits on the string
numbers = [0,1,2,3,4,5,6,7,8,9]
S = input("Enter a string with Numbers :")
count = 0

for i in S:
  if i in str(numbers):
    count += 1
print("Number of digits in the string :", count)

Enter a string with Numbers :H234jsdk3423
Number of digits in the string : 7

In [ ]:
# Write a program to count digits on the string
def count_digits_in_string(input_string):

  digit_count = 0
  for char in input_string:
    if '0' <= char <= '9':
      digit_count += 1
  return digit_count
input_string = input("Enter a string: ")
digit_count = count_digits_in_string(input_string)
print("Number of digits in the string:", digit_count)

Enter a string: hello324897jdkf
Number of digits in the string: 6

In [ ]:
# prompt: Print lower case without using .lower()

text = input("Enter the String:")
def printlower(text):
    for char in text:
        print(chr(ord(char) + 32) if 'A' <= char <= 'Z' else char, end="")

print(printlower(text))

Enter the String:KSJD
ksjdNone

In [ ]:
def print_lower(text):
  result = ''
  for char in text:
    if 'A' <= char <= 'Z':
      result += chr(ord(char) + 32)
    else:
      result += char
  print(result)
text = input("Enter the String: ")
print_lower(text)

Enter the String: KJFSJKDJ
kjfsjkdj

In [ ]:
# Program to find palindrome in a string
S = input("Enter a string:")
S = S.lower()
if S == S[::-1]:
  print("Given String is Palindrome")
else:
  print("Given String is not Palindrome")

Enter a string:madaM
Given String is Palindrome

In [ ]:


def is_palindrome(text):
    text = text.lower()
    left = 0
    right = len(text) - 1
    while left < right:
        if text[left] != text[right]:
            return False
        left += 1
        right -= 1
    return True

# Get input string
input_string = input("Enter a string: ")

# Check for palindrome and print result
if is_palindrome(input_string):
    print("Given String is a Palindrome")
else:
    print("Given String is not a Palindrome")

Enter a string: Malayalam
Given String is a Palindrome

In [ ]:
s = input("Enter the String:")
print(s)
lst = []

lst = s.split(" ")
word = ''
max = 0
for i in lst:
  if len(i) > max:
    max = len(i)
    word =i
print(word)

Enter the String:h uyf hgfghvg
h uyf hgfghvg
hgfghvg

In [ ]:
s = input("Enter the String:")
print(s)

lst = []

lst = s.split(" ")
longest_word = ""
for word in lst:
    if len(word) > len(longest_word):
        longest_word = word
        print(longest_word)
    elif len(word) == len(longest_word):
        longest_word += " " + word

print(longest_word)

Enter the String:err edd wse
err edd wse
err
err edd

In [ ]:
s = input("Enter the String:")
print(s)

lst = s.split(" ")
longest_words = []
max_length = 0
for word in lst:
    if len(word) > max_length:
        max_length = len(word)  # Update max_length
        longest_words = [word]  # Start a new list with the current word
    elif len(word) == max_length:
        longest_words.append(word)  # Add word to the list if it's the same length

print("Longest word(s):", longest_words)

Enter the String:ede ert wdw
ede ert wdw
Longest word(s): ['ede', 'ert', 'wdw']

In [ ]:
# Write a program to find duplicates in a given string

s = input("Enter the String:")
print(s)

lst = []

lst = s.split(" ")
print(lst)
duplicates = []
for i in lst:
  if lst.count(i) > 1:
    if i not in duplicates:
      duplicates.append(i)
print(duplicates)

Enter the String:dr dr lst lst
dr dr lst lst
['dr', 'dr', 'lst', 'lst']
['dr', 'lst']

In [ ]:
# Write a program to most frequently occured in a given string

s = input("Enter the String")
most_frequent = ""
s = s.split(" ")
for i in s:
  if s.count(i) > s.count(most_frequent):
    most_frequent = i
print(most_frequent)

Enter the StringHello I am Gautham Hello I am Gautham
Hello

In [ ]:
s = input("Enter the String")

counts = {}

for word in s.split():
    if word in counts:
        counts[word] += 1

    else:
        counts[word] = 1

max_count = 0

most_frequent_words = []

for word, count in counts.items():
    if count > max_count:
        max_count = count
        most_frequent_words = [word]

    elif count == max_count:
        most_frequent_words.append(word)

print(most_frequent_words)

Enter the StringHello I am Gautham Hello I am Gautham
['Hello', 'I', 'am', 'Gautham']

In [ ]:
!pip install keywords

Collecting keywords
  Downloading keywords-0.0.1.zip (3.0 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: keywords
  Building wheel for keywords (setup.py) ... done
  Created wheel for keywords: filename=keywords-0.0.1-py3-none-any.whl size=3190 sha256=90af3cd3f892f825d2ff8f5cf1f905184a823c59b5f02d60dd771d579bd6f663
  Stored in directory: /root/.cache/pip/wheels/d0/c8/b2/970db6eecb3eea041715b61e10a26a880c3f40adddd65e11d3
Successfully built keywords
Installing collected packages: keywords
Successfully installed keywords-0.0.1

In [ ]:
# prompt: import keywords library and print kwlist

import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
# Examples for String, list, tuple, set, dictonary

Stri = "I am a String"
print(Stri)
print(type(Stri))
print(Stri+Stri)
print(Stri*3)

lst = [10,20,30,40,60,50,"a"]
print(lst)
print(type(lst))
print(lst+lst)
print(lst*4)


tup = (10,20,30,40,60,50,"b")
print(tup)
print(type(tup))
print(tup+tup)
print(tup*5)

set = {10,20,30,40,60,50,"c"}
print(set)
print(type(set))
print(set-set)


dict = {10:"a",20:"b",30:"c",40:"d",60:"e",50:"f"}
print(dict)
print(type(dict))

I am a String
<class 'str'>
I am a StringI am a String
I am a StringI am a StringI am a String
[10, 20, 30, 40, 60, 50, 'a']
<class 'list'>
[10, 20, 30, 40, 60, 50, 'a', 10, 20, 30, 40, 60, 50, 'a']
[10, 20, 30, 40, 60, 50, 'a', 10, 20, 30, 40, 60, 50, 'a', 10, 20, 30, 40, 60, 50, 'a', 10, 20, 30, 40, 60, 50, 'a']
(10, 20, 30, 40, 60, 50, 'b')
<class 'tuple'>
(10, 20, 30, 40, 60, 50, 'b', 10, 20, 30, 40, 60, 50, 'b')
(10, 20, 30, 40, 60, 50, 'b', 10, 20, 30, 40, 60, 50, 'b', 10, 20, 30, 40, 60, 50, 'b', 10, 20, 30, 40, 60, 50, 'b', 10, 20, 30, 40, 60, 50, 'b')
{50, 20, 40, 10, 'c', 60, 30}
<class 'set'>
set()
{10: 'a', 20: 'b', 30: 'c', 40: 'd', 60: 'e', 50: 'f'}
<class 'dict'>

In [ ]:
class Bird:
  pass
Parrot = Bird()
print(Bird)

<class '__main__.Bird'>

In [ ]:
class Sfj:
  course = "python"
  bname = "genai"

Gautham = Sfj()

Dinesh = Sfj()

print(Sfj.course, Sfj.bname)
print(Gautham.course, Gautham.bname)
print(Dinesh.course, Dinesh.bname)
Sfj.course = "Java"
print(Sfj.course)

python genai
python genai
python genai
Java

In [ ]:
class m1:

  def __init__(self):
    print('executed')

ob1 = m1()

ob2 = m1()

executed
executed

In [ ]:
class ptdm1:

  class_room = 205
  trainer_name = 'Arkadeep'

  def __init__(self, name, mbno, email):
    self.name = name
    self.mbno = mbno
    self.email = email

student1 = ptdm1('mahesh', 9876543224, 'mahes29@gmail.com')

student2 = ptdm1('rani', 8769823409, 'rani234@gmail.com')

student1.mbno = 7549876230

print(student1.mbno)

7549876230

In [ ]:
# Write a program to print vowels in a given string
S = input("Enter a string: ")

vowels = ["a","e","i","o","u","A","E","I","O","U"]

for i in S:
  if i in vowels:
    print(i)

Enter a string: I am Gautham
I
a
a
u
a

In [ ]:
# Write a program to find the sum of a given list.
lst = [10,20,40,30,60,50]

sum = 0

for i in lst:
  sum += i
print(sum)

210

In [ ]:
# WAP to print sum of even numbers in a given list

lst = [2,4,5,6,8,1,3,7]
sum = 0
for i in lst:
  if i%2==0:
    sum+=i
print(lst)
print("sum of even numbers in given list is :", sum)

[2, 4, 5, 6, 8, 1, 3, 7]
sum of given list is : 20

In [ ]:
# Write a program to count the alphabet "a" in a given String.

s = input("Enter the string: ")

count = 0
for i in s:
  if (i=="a" or i == "A"):
    count+=1
print(s)
print("Count of Alphabet a in the string are ", count)

Enter the string: I am Gautham
I am Gautham
Count of Alphabet a in the string are  3

In [ ]:
class ptdm1:

  classroom = 205
  teamname = "Deep"
  def __init__(self,name,mno,email):
    self.name = name
    self.mno = mno
    self.email = email

  def details(self):
    print(f'name = {self.name}')
    print(f'mno = {self.mno}')
    print(f'email = {self.email}')

student1 = ptdm1("Rup",9876543210,"rup25@gmail.com")
student2 = ptdm1("Rani",9876543210,"rani23@gmail.com")
print(student1.email)

rup25@gmail.com

In [ ]:
class A:
  @classmethod
  def m1(cls):
    print(cls)
Ob = A()
Ob.m1()
A.m1()

<class '__main__.A'>
<class '__main__.A'>

In [ ]:
class A:
    @staticmethod
    def m1():
       print("inside")
Ob = A()
A.m1()
Ob.m1()

inside
inside

In [ ]:
def Withdraw(money):
  bal = 10000
  if bal>=money:
      bal -= money
      print("Withdrawal Successful")
  else:
    print("Insufficient Balance")

Withdraw(10010)

Insufficient Balance

In [ ]:
# Simple Bank Applicaiton
#Bank_application.py
class Swiss:
    roi = 0.07
    branch = 'sfj'

    def __init__(self, name, accno, mbno, bal, pin):
        self.name = name
        self.accno = accno
        self.mbno = mbno
        self.bal = bal
        self.pin =pin
    def Details(self):
        print(f"name:{self.name}")
        print(f"accno:{self.accno}")
        print(f"mbno:{self.mbno}")
        print(f"bal:{self.bal}")
        print(f"pin:{self.pin}")

    def Balance_check(self):
        if self.enterpin() == self.pin:
            print(f"Available Balance is {self.bal}")
        else:
            print("invalid pin")

    def Deposit(self,amt):
        if self.enterpin() == self.pin:
            bal += amt
            print(f"Amount {amt} Deposited Successfully\nTotal balance is: {bal}")
        else:
            print("Invalid Pin!")

    def Withdraw(self, money):
        if self.enterpin() == self.pin:
            if self.bal >= money:
                self.bal -= money
                print("Withdrawal Successful")
            else:
                print("Insufficient Balance")
        else:
            print("Invalid pin!")
    @classmethod
    def newroi(cls):
        q = 0.02
        cls.roi = q
        print(cls.roi)

    @staticmethod
    def enterpin():
        p = int(input("Enter 4 digit the pin: "))
        return p

user1 = Swiss('Rakshith',684952511322,9113980873,10000,1234)

user2 = Swiss("Gautham",2312786473,9740150978,100000,4321)

user2.Withdraw(int(input("Enter the amount: ")))